.admin__menu .level-0.item-elogic > a:before {
    content: url('../images/elogic-logo.svg')!important;
    height: 33px;
}
.admin__menu .level-0.item-elogic > a span {
    font-weight: 900!important;
}
.admin__menu .level-0 > .submenu > ul > .level-1:only-of-type > .submenu-group-title {
    display: block;
}
