.admin__page-nav.elogic-core._collapsed._show ._collapsible strong:before {
    background: url(../images/elogic-logo2.svg) no-repeat scroll 0 0 transparent;
    width: 150px;
    height: 32px;
    content: '';
    display: inline-block;
    vertical-align: middle;
}

.admin__page-nav.elogic-core._collapsed._hide ._collapsible strong:before {
    background: url(../images/elogic-logo2.svg) no-repeat scroll 0 0 transparent;
    width: 150px;
    height: 28px;
    content: '';
    display: inline-block;
    vertical-align: middle;
}
    .elogic-core._hide .admin__page-nav-title.title._collapsible {
        padding: 12px;
    }




